language: dart
dart:
  - dev

dart_task:
  - test
  - test -p chrome
  - test -p firefox
  - dartfmt
  - dartanalyzer

matrix:
  exclude:
    - dart: stable
      dart_task: dartfmt

branches:
  only: [master]

cache:
  directories:
    - $HOME/.pub-cache
